<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Upload NFT File</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
   <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"  crossorigin="anonymous" /> -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      crossorigin="anonymous" />

   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"> -->
</head>




<body>
   <div style="display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;">
      <h1 class="title">Create NFT on XRPL</h1>
      <h2 class="subtitle">Add details for your NFT</h2>
      <form method='post' enctype="multipart/form-data">
         {% csrf_token %}
         {{form.as_p}}
         <!-- or remove the .as_p thing-->
         <input type="submit" value="Upload file" class="button **is-large is-success is-focused is-rounded**">
         <!-- or use button instead-->
      </form>
   </div>

</body>



</html>