<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>XRP NFT Creation</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
      <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"  crossorigin="anonymous" /> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" crossorigin="anonymous" />
   </head>

   <body style="margin: 2rem;">
      <h2 class="title">Details for {{data.title}}</h2>
      <!-- <img src="localhost:8080{{file.file.url}}" class="image_responsive" > -->

      <!-- {% csrf_token %} -->
      <!-- <iframe src="{{file.file.url}}" style="width: 100%;height: 100%;border: none;"></iframe> -->
      <img src="{{data.file.url}}" height="300" width="300"> 
      <!-- <iframe class="responsive-iframe" src="{{data.file.url}}"></iframe> -->
        <!-- or try 700 and 500, or 100% -->

      <section class = "ipfs_details">
         <!-- <p><a href="{{ data.file.url }}">local Image URI:</a></p> -->
         <h2 class="subtitle" style="margin-top: 0.8rem; margin-bottom:0.4rem;"><b>IPFS Details:</b></h2>
         <p>IPFS Image hash: {{ data.file_hash }}</p>
         <!-- <p>IPFS Image URI: {{ data.file_uri }}</p> -->
         <p>IPFS Image URI: <a href="{{ data.file_uri }}">{{ data.file_uri }}</a></p>
         <p>IPFS Metadata URI: <a href="{{ data.metadata_uri }}">{{ data.metadata_uri }}</a></p>
         <h2 class="subtitle" style="margin-top: 0.8rem; margin-bottom:0.4rem;"><b>Metadata:</b></h2>
         <p><pre>{{ data.collectible_metadata }}</pre></p>
      </section>

      <!-- <input type="submit" value = "Mint NFT"> or use button instead -->

      <!-- <button><a href="/create/mint">Mint NFT</a></button> -->

      <h3>Looks good? Let's mint the NFT</h3>
      {% csrf_token %}
      <input type="submit" value="Mint NFT" onclick="submit()">
      <script type="text/javascript">
         function submit() {
            var data = JSON.parse("{{data.collectible_metadata|escapejs}}");
            console.log("Mint NFT button clicked with data ", data);
            console.log(typeof data);
            
            // TODO: instead of redirect: append the data
            //window.location.replace('http://127.0.0.1:8000/create/mint');

            // var xhr = new XMLHttpRequest();
            // xhr.onreadystatechange = function () {
            //    if (xhr.readyState === 4) {
            //       alert(xhr.response);
            //    }
            // }
            // xhr.open('POST', 'http://127.0.0.1:8000/create/mint', true);
            // xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            // xhr.send(data);

            //=======

            var xhttp = new XMLHttpRequest();
            
            xhttp.open("POST", "http://localhost:5000/nft", true);

            xhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            xhttp.setRequestHeader("Accept", "application/json");

            xhttp.onreadystatechange = function() {
               if (xhttp.readyState === 4 && xhttp.status === 200) {
                  // document.getElementById("demo").innerHTML = this.responseText;
                  alert(xhttp.response);
                  console.log(xhttp.responseText);
               } else {
                  console.log("Minting NFT...");
               }
            };

            console.log(typeof data);

            xhttp.send(data);

            // $.ajax({
            //       url: 'http://localhost:5000/nft',
            //       type: 'POST',
            //       data: data,
            //       success: function (response) {
            //          console.log("flask successfully processed the mint NFT request")
            //          console.log(response)
            //       },
            //       error: function (response) {
            //          console.log("flask failed to process the mint NFT request")
            //          console.log(response)
            //       }
            // });
         }
     
     </script>

     <section class="nft_details" id="result">
      <h2 class="subtitle" style="margin-top: 1rem; margin-bottom:0.4rem;"><b>Minted NFT Details:</b></h2>
      <p>Issuer addr: {{ data.issuer_addr }}</p>
      <p><a href="{{ data.issuer_explorer }}">explorer link</a>  ( {{ data.issuer_explorer }} )</p>
      
      <p>Distributor addr: {{ data.distributor_addr }}</p>
      <p><a href="{{ data.distributor_explorer }}">explorer link</a>  ( {{ data.distributor_explorer }} )</p>

      <p><a href="{{ data.issued_token_link }}">Issued NFT transaction</a> ({{ data.issued_token_link }} )</p>
     </section>
   </body>
   
</html>