<html>
   
   <body>
      <p>Details for {{data.title}}</p>
      <!-- <img src="localhost:8080{{file.file.url}}" class="image_responsive" > -->

      <!-- {% csrf_token %} -->
      <!-- <iframe src="{{file.file.url}}" style="width: 100%;height: 100%;border: none;"></iframe> -->
      <embed src="{{data.file.url}}" type="application/pdf"   height="300" width="300"> 
        <!-- or try 700 and 500, or 100% -->
      <p>local URI: {{ data.file.url }}</p>
      <p>IPFS Image hash: {{ data.file_hash }}</p>
      <p>IPFS Image URI: {{ data.file_uri }}</p>
      <p>IPFS Metadata URI: {{ data.metadata_uri }}</p>
      <p>Metadata: {{ data.collectible_metadata }}</p>
   </body>
   
</html>